In [ ]:
import pandas as pd

DATASET_PATH = './mix-t06.csv'
df = pd.read_csv(DATASET_PATH)

In [9]:
NONE                = 0;    NONE_KEY='none'
COMPILE_SUCCESSES   = 1;    COMPILE_KEY='c_compile'
FUNCTIONAL_SUCCESS  = 2;    FUNCTIONAL_KEY='c_functional'
ALMOST_SUCCESS      = 3;    ALMOST_KEY='c_almost'
SUBSET_SUCCESS      = 4;    SUBSET_KEY='c_functional_subset'
SCORES_KEY = 'scores'
N_KEY = 'n'

In [10]:
values  = [NONE, COMPILE_SUCCESSES, FUNCTIONAL_SUCCESS, ALMOST_SUCCESS, SUBSET_SUCCESS]
keys    = [NONE_KEY, COMPILE_KEY, FUNCTIONAL_KEY, ALMOST_KEY, SUBSET_KEY]

for k,v in zip(keys, values):
    df[k] = df[SCORES_KEY].str.count(str(v))

In [11]:
df[N_KEY] = df[SCORES_KEY].str.len()

In [12]:
df

,test,scores,none,c_compile,c_functional,c_almost,c_functional_subset,n
0,apigatewayv2_api,11001211010111101021,6,12,2,0,0,20
1,dynamodb_table,00000000000000000000,20,0,0,0,0,20
2,iam_role,22222222202222222202,2,0,18,0,0,20
3,instance,22200202220022000002,10,0,10,0,0,20
4,lambda,02020111112022102122,5,7,8,0,0,20
5,lambda_hard,42002002022202000022,10,0,9,0,1,20
6,lb,11111111111111111111,0,20,0,0,0,20
7,lb_hard,33311111123331112000,3,9,2,6,0,20
8,aws_provider,022202222000020222202,8,0,13,0,0,21
9,s3_bucket,0000000002,9,0,1,0,0,10
10,vpc,22222222220222222222,1,0,19,0,0,20
11,function_app_hard,01000000000000000000,19,1,0,0,0,20
12,provider_block_azure,00022021111111200000,9,7,4,0,0,20
13,resource_group,11111111200020200000,9,8,3,0,0,20
14,security_group,00000022220102122122,8,3,9,0,0,20
15,storage_account,00022002020202000200,13,0,7,0,0,20
16,subnet,02000000000000020200,17,0,3,0,0,20
17,virtual_network,02222202202211112121,3,6,11,0,0,20
18,cloudfunctions2_function,22111111111111111211,0,17,3,0,0,20
19,compute_firewall,22111212222202122222,1,5,14,0,0,20
20,compute_instance,22222020202222222222,3,0,17,0,0,20
21,compute_subnetworks,11111111111111111112,0,19,1,0,0,20
22,google_prov_block,22022022202022222220,5,0,15,0,0,20
23,storage_bucket,22212222202220020222,4,1,15,0,0,20
24,storage_bucket_website,00000000000100000000,19,1,0,0,0,20
25,few_variables,11111111111111111111,0,20,0,0,0,20
26,one_output,22212222122122121222,0,5,15,0,0,20
27,one_variable,01110101101111111101,5,15,0,0,0,20
28,output_and_variable,22222222112212122222,0,4,16,0,0,20

In [13]:
df.to_csv(DATASET_PATH, index=False)