In [80]:
import pandas as pd

DATASET_PATH = '../risultati/codeonly-t06.csv'
df = pd.read_csv(DATASET_PATH)

In [81]:
df

,test,provider,scores,none,c_compile,c_functional,c_almost,c_functional_subset,n,pass@5_compile,pass@5_func,pass@1_compile,pass@1_func,pass@10_compile,pass@10_func
0,apigatewayv2_api,aws,11001211010111101021,6,12,2,0,0,20,0.999613,0.447368,0.700000,0.100000,1.000000,0.763158
1,dynamodb_table,aws,00000000000000000000,20,0,0,0,0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,iam_role,aws,22222222202222222202,2,0,18,0,0,20,1.000000,1.000000,0.900000,0.900000,1.000000,1.000000
3,instance,aws,22200202220022000002,10,0,10,0,0,20,0.983746,0.983746,0.500000,0.500000,0.999995,0.999995
4,lambda,aws,02020111112022102122,5,7,8,0,0,20,0.999936,0.948916,0.750000,0.400000,1.000000,0.999643
5,lambda_hard,aws,42002002022202000022,10,0,9,0,1,20,0.983746,0.983746,0.500000,0.500000,0.999995,0.999995
6,lb,aws,11111111111111111111,0,20,0,0,0,20,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
7,lb_hard,aws,33311111123331112000,3,9,2,6,0,20,1.000000,0.447368,0.850000,0.100000,1.000000,0.763158
8,aws_provider,aws,022202222000020222202,8,0,13,0,0,21,0.997248,0.997248,0.619048,0.619048,1.000000,1.000000
9,s3_bucket,aws,0000000002,9,0,1,0,0,10,0.500000,0.500000,0.100000,0.100000,1.000000,1.000000
10,vpc,aws,22222222220222222222,1,0,19,0,0,20,1.000000,1.000000,0.950000,0.950000,1.000000,1.000000
11,function_app_hard,azurerm,01000000000000000000,19,1,0,0,0,20,0.250000,0.000000,0.050000,0.000000,0.500000,0.000000
12,provider_block_azure,azurerm,00022021111111200000,9,7,4,0,0,20,0.991873,0.718266,0.550000,0.200000,1.000000,0.956656
13,resource_group,azurerm,11111111200020200000,9,8,3,0,0,20,0.991873,0.600877,0.550000,0.150000,1.000000,0.894737
14,security_group,azurerm,00000022220102122122,8,3,9,0,0,20,0.996388,0.970201,0.600000,0.450000,1.000000,0.999940
15,storage_account,azurerm,00022002020202000200,13,0,7,0,0,20,0.916989,0.916989,0.350000,0.350000,0.998452,0.998452
16,subnet,azurerm,02000000000000020200,17,0,3,0,0,20,0.600877,0.600877,0.150000,0.150000,0.894737,0.894737
17,virtual_network,azurerm,02222202202211112121,3,6,11,0,0,20,1.000000,0.991873,0.850000,0.550000,1.000000,1.000000
18,cloudfunctions2_function,google,22111111111111111211,0,17,3,0,0,20,1.000000,0.600877,1.000000,0.150000,1.000000,0.894737
19,compute_firewall,google,22111212222202122222,1,5,14,0,0,20,1.000000,0.999613,0.950000,0.700000,1.000000,1.000000
20,compute_instance,google,22222020202222222222,3,0,17,0,0,20,1.000000,1.000000,0.850000,0.850000,1.000000,1.000000
21,compute_subnetworks,google,11111111111111111112,0,19,1,0,0,20,1.000000,0.250000,1.000000,0.050000,1.000000,0.500000
22,google_prov_block,google,22022022202022222220,5,0,15,0,0,20,0.999936,0.999936,0.750000,0.750000,1.000000,1.000000
23,storage_bucket,google,22212222202220020222,4,1,15,0,0,20,1.000000,0.999936,0.800000,0.750000,1.000000,1.000000
24,storage_bucket_website,google,00000000000100000000,19,1,0,0,0,20,0.250000,0.000000,0.050000,0.000000,0.500000,0.000000
25,few_variables,terraform_basics,11111111111111111111,0,20,0,0,0,20,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
26,one_output,terraform_basics,22212222122122121222,0,5,15,0,0,20,1.000000,0.999936,1.000000,0.750000,1.000000,1.000000
27,one_variable,terraform_basics,01110101101111111101,5,15,0,0,0,20,0.999936,0.000000,0.750000,0.000000,1.000000,0.000000
28,output_and_variable,terraform_basics,22222222112212122222,0,4,16,0,0,20,1.000000,1.000000,1.000000,0.800000,1.000000,1.000000

In [31]:
NONE                = 0;    NONE_KEY='none'
COMPILE_SUCCESSES   = 1;    COMPILE_KEY='c_compile'
FUNCTIONAL_SUCCESS  = 2;    FUNCTIONAL_KEY='c_functional'
ALMOST_SUCCESS      = 3;    ALMOST_KEY='c_almost'
SUBSET_SUCCESS      = 4;    SUBSET_KEY='c_functional_subset'
SCORES_KEY = 'scores'
N_KEY = 'n'

In [32]:
from utils import pass_at_k

COUNT_ALMOST_AS_FUNC = False
COUNT_SUBSET_AS_FUNC = True

compile_match   = [COMPILE_KEY, ALMOST_KEY, SUBSET_KEY, FUNCTIONAL_KEY]
func_match      = [FUNCTIONAL_KEY]

if COUNT_ALMOST_AS_FUNC:    func_match.append(ALMOST_KEY)
if COUNT_SUBSET_AS_FUNC:    func_match.append(SUBSET_KEY)

In [33]:
from typing import List


def sum_over_columns(x: dict, columns: List[str]) -> int:
    return sum([int(x[key]) for key in columns])

In [40]:
K = 10
COMPILE_K_KEY = f"pass@{K}_compile"
FUNC_K_KEY = f"pass@{K}_func"


df[COMPILE_K_KEY]   = df.apply(lambda x: pass_at_k(x[N_KEY], sum_over_columns(x, compile_match), K), axis=1)
df[FUNC_K_KEY]      = df.apply(lambda x: pass_at_k(x[N_KEY], sum_over_columns(x, func_match), K), axis=1)

In [16]:
df

,test,provider,scores,none,c_compile,c_functional,c_almost,c_functional_subset,n,pass@5_compile,pass@5_func,pass@1_compile,pass@1_func,pass@10_compile,pass@10_func
0,apigatewayv2_api,aws,11001211010111101021,6,12,2,0,0,20,0.999613,0.447368,0.700000,0.100000,1.000000,0.763158
1,dynamodb_table,aws,00000000000000000000,20,0,0,0,0,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,iam_role,aws,22222222202222222202,2,0,18,0,0,20,1.000000,1.000000,0.900000,0.900000,1.000000,1.000000
3,instance,aws,22200202220022000002,10,0,10,0,0,20,0.983746,0.983746,0.500000,0.500000,0.999995,0.999995
4,lambda,aws,02020111112022102122,5,7,8,0,0,20,0.999936,0.948916,0.750000,0.400000,1.000000,0.999643
5,lambda_hard,aws,42002002022202000022,10,0,9,0,1,20,0.983746,0.983746,0.500000,0.500000,0.999995,0.999995
6,lb,aws,11111111111111111111,0,20,0,0,0,20,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
7,lb_hard,aws,33311111123331112000,3,9,2,6,0,20,1.000000,0.447368,0.850000,0.100000,1.000000,0.763158
8,aws_provider,aws,022202222000020222202,8,0,13,0,0,21,0.997248,0.997248,0.619048,0.619048,1.000000,1.000000
9,s3_bucket,aws,0000000002,9,0,1,0,0,10,0.500000,0.500000,0.100000,0.100000,1.000000,1.000000
10,vpc,aws,22222222220222222222,1,0,19,0,0,20,1.000000,1.000000,0.950000,0.950000,1.000000,1.000000
11,function_app_hard,azurerm,01000000000000000000,19,1,0,0,0,20,0.250000,0.000000,0.050000,0.000000,0.500000,0.000000
12,provider_block_azure,azurerm,00022021111111200000,9,7,4,0,0,20,0.991873,0.718266,0.550000,0.200000,1.000000,0.956656
13,resource_group,azurerm,11111111200020200000,9,8,3,0,0,20,0.991873,0.600877,0.550000,0.150000,1.000000,0.894737
14,security_group,azurerm,00000022220102122122,8,3,9,0,0,20,0.996388,0.970201,0.600000,0.450000,1.000000,0.999940
15,storage_account,azurerm,00022002020202000200,13,0,7,0,0,20,0.916989,0.916989,0.350000,0.350000,0.998452,0.998452
16,subnet,azurerm,02000000000000020200,17,0,3,0,0,20,0.600877,0.600877,0.150000,0.150000,0.894737,0.894737
17,virtual_network,azurerm,02222202202211112121,3,6,11,0,0,20,1.000000,0.991873,0.850000,0.550000,1.000000,1.000000
18,cloudfunctions2_function,google,22111111111111111211,0,17,3,0,0,20,1.000000,0.600877,1.000000,0.150000,1.000000,0.894737
19,compute_firewall,google,22111212222202122222,1,5,14,0,0,20,1.000000,0.999613,0.950000,0.700000,1.000000,1.000000
20,compute_instance,google,22222020202222222222,3,0,17,0,0,20,1.000000,1.000000,0.850000,0.850000,1.000000,1.000000
21,compute_subnetworks,google,11111111111111111112,0,19,1,0,0,20,1.000000,0.250000,1.000000,0.050000,1.000000,0.500000
22,google_prov_block,google,22022022202022222220,5,0,15,0,0,20,0.999936,0.999936,0.750000,0.750000,1.000000,1.000000
23,storage_bucket,google,22212222202220020222,4,1,15,0,0,20,1.000000,0.999936,0.800000,0.750000,1.000000,1.000000
24,storage_bucket_website,google,00000000000100000000,19,1,0,0,0,20,0.250000,0.000000,0.050000,0.000000,0.500000,0.000000
25,few_variables,terraform_basics,11111111111111111111,0,20,0,0,0,20,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
26,one_output,terraform_basics,22212222122122121222,0,5,15,0,0,20,1.000000,0.999936,1.000000,0.750000,1.000000,1.000000
27,one_variable,terraform_basics,01110101101111111101,5,15,0,0,0,20,0.999936,0.000000,0.750000,0.000000,1.000000,0.000000
28,output_and_variable,terraform_basics,22222222112212122222,0,4,16,0,0,20,1.000000,1.000000,1.000000,0.800000,1.000000,1.000000

In [66]:
df.groupby(by='provider').mean(numeric_only=True)

,n,none,c_compile,c_functional,c_almost,c_functional_subset,pass@1_compile,pass@1_func,pass@5_compile,pass@5_func,pass@10_compile,pass@10_func
provider,,,,,,,,,,,,
aws,19.0,3.727273,3.090909,9.090909,2.363636,0.727273,0.772727,0.496411,0.863631,0.796487,0.909091,0.896528
azurerm,20.0,4.857143,3.000000,11.857143,0.000000,0.285714,0.757143,0.607143,0.845284,0.738141,0.856922,0.785493
google,20.0,3.000000,6.142857,10.571429,0.000000,0.285714,0.850000,0.542857,0.857143,0.701266,0.857143,0.714065
terraform_basics,20.0,6.250000,11.000000,2.750000,0.000000,0.000000,0.687500,0.137500,0.927535,0.247968,0.989164,0.250000

In [60]:
df.groupby(by='provider').sum(numeric_only=True)

,n,none,c_compile,c_functional,c_almost,c_functional_subset,pass@1_compile,pass@1_func,pass@5_compile,pass@5_func,pass@10_compile,pass@10_func
provider,,,,,,,,,,,,
aws,209,41,34,100,26,8,8.50,5.460526,9.499936,8.761352,10.000000,9.861812
azurerm,140,34,21,83,0,2,5.30,4.250000,5.916989,5.166989,5.998452,5.498452
google,140,21,43,74,0,2,5.95,3.800000,6.000000,4.908862,6.000000,4.998452
terraform_basics,80,25,44,11,0,0,2.75,0.550000,3.710139,0.991873,3.956656,1.000000

In [42]:
df.to_csv(DATASET_PATH, index=False)

In [39]:


# Prepare the new DataFrame with the desired structure
out_df = pd.DataFrame()  # This will be the output DataFrame

# Fill the first column with unique 'test' values and the second column (k) with 1, 5, and 10
out_df['test'] = df['test'].repeat(3).reset_index(drop=True)
out_df['k'] = pd.Series([1, 5, 10] * len(df))
out_df['provider'] = df['provider'].repeat(3).reset_index(drop=True)

# Custom function to fill in the pass data for the given 'k' value
def get_pass_data(row, k):
    suffix = f'@{k}'
    compile_key = f'pass{suffix}_compile'
    func_key = f'pass{suffix}_func'
    return pd.Series([row[compile_key], row[func_key], row[compile_key], row[func_key]])

# Create a temporary DataFrame to store 'pass@k' data and then concatenate it with the output DataFrame
compile_checks, functional_checks = [], []
for k in [1, 5, 10]:
    tmp_df = df.apply(lambda row: get_pass_data(row, k), axis=1)
    compile_checks.append(tmp_df.iloc[:,0].values)
    functional_checks.append(tmp_df.iloc[:,1].values)
    
pass_data = pd.DataFrame({
    "Llama-2-codeonly-Compile": compile_checks[0],
    "Llama-2-mix-Compile": compile_checks[1],
    "Llama-2-codeonly-Functional": functional_checks[0],
    "Llama-2-mix-Functional": functional_checks[1]
})
out_df = pd.concat([out_df.reset_index(drop=True), pass_data], axis=1)

In [66]:
import numpy as np


# Create a new DataFrame with the desired format
new_data = {
    'test': np.repeat(df['test'].values, 3),
    'k': [1, 5, 10] * len(df),
}

# Prepare the header rows
header = pd.MultiIndex.from_product(
    [['pass@k'], ['Compile check', 'Functional Correctness'], ['Llama-2-codeonly', 'Llama-2-mix']],
    #names=['', 'Criterion', 'Model']
)

# Create the DataFrame to hold the processed data with the headers
out_df = pd.DataFrame(columns=header, data=np.zeros((len(new_data['test']), 4)))

# Fill in the new DataFrame with pass@k values
for k in [1, 5, 10]:
    for index, row in df.iterrows():
        compile_col = f'pass@{k}_compile'
        func_col = f'pass@{k}_func'
        
        # Set NaN values to 0
        compile_val = (row.get(compile_col, 0) or 0)*100
        func_val = (row.get(func_col, 0) or 0)*100
        
        # Find the correct position in the output DataFrame (3 rows per original row - for k = 1, 5, 10)
        out_idx = index * 3 + [1, 5, 10].index(k)
        
        # Update the DataFrame with the values
        out_df.at[out_idx, ('pass@k', 'Compile check', 'Llama-2-codeonly')] = compile_val
        out_df.at[out_idx, ('pass@k', 'Compile check', 'Llama-2-mix')] = compile_val
        out_df.at[out_idx, ('pass@k', 'Functional Correctness', 'Llama-2-codeonly')] = func_val
        out_df.at[out_idx, ('pass@k', 'Functional Correctness', 'Llama-2-mix')] = func_val

# Insert the 'test' and 'k' columns as the first level of the MultiIndex
out_df.insert(0, 'k', new_data['k'])
out_df.insert(0, 'test', new_data['test'])

out_df['provider'] = df['provider'].repeat(3).reset_index(drop=True)
out_df = out_df.round(1)

In [57]:
out_df.to_csv('../risultati/codeonly_transformed_data.csv', index=False)

Save aws files rows

In [61]:
out_df[out_df['provider'] == 'azurerm'].to_csv('../risultati/codeonly_transformed_data_azure.csv')

In [67]:
out_df[out_df['provider'] == 'aws']

                test   k           pass@k                                     \
                            Compile check             Functional Correctness
                         Llama-2-codeonly Llama-2-mix       Llama-2-codeonly
0   apigatewayv2_api   1            100.0       100.0                   21.1
1   apigatewayv2_api   5            100.0       100.0                   74.2
2   apigatewayv2_api  10            100.0       100.0                   96.7
3     dynamodb_table   1             95.0        95.0                   80.0
4     dynamodb_table   5            100.0       100.0                  100.0
5     dynamodb_table  10            100.0       100.0                  100.0
6           iam_role   1            100.0       100.0                   85.0
7           iam_role   5            100.0       100.0                  100.0
8           iam_role  10            100.0       100.0                  100.0
9           instance   1            100.0       100.0                   70.0
10          instance   5            100.0       100.0                  100.0
11          instance  10            100.0       100.0                  100.0
12            lambda   1             85.0        85.0                   15.0
13            lambda   5            100.0       100.0                   60.1
14            lambda  10            100.0       100.0                   89.5
15       lambda_hard   1             75.0        75.0                   40.0
16       lambda_hard   5            100.0       100.0                   94.9
17       lambda_hard  10            100.0       100.0                  100.0
18                lb   1             90.0        90.0                   90.0
19                lb   5            100.0       100.0                  100.0
20                lb  10            100.0       100.0                  100.0
21           lb_hard   1            100.0       100.0                   45.0
22           lb_hard   5            100.0       100.0                   97.0
23           lb_hard  10            100.0       100.0                  100.0
24      aws_provider   1              0.0         0.0                    0.0
25      aws_provider   5              0.0         0.0                    0.0
26      aws_provider  10              0.0         0.0                    0.0
27         s3_bucket   1             10.0        10.0                   10.0
28         s3_bucket   5             50.0        50.0                   50.0
29         s3_bucket  10            100.0       100.0                  100.0
30               vpc   1             95.0        95.0                   90.0
31               vpc   5            100.0       100.0                  100.0
32               vpc  10            100.0       100.0                  100.0

               provider

   Llama-2-mix
0         21.1      aws
1         74.2      aws
2         96.7      aws
3         80.0      aws
4        100.0      aws
5        100.0      aws
6         85.0      aws
7        100.0      aws
8        100.0      aws
9         70.0      aws
10       100.0      aws
11       100.0      aws
12        15.0      aws
13        60.1      aws
14        89.5      aws
15        40.0      aws
16        94.9      aws
17       100.0      aws
18        90.0      aws
19       100.0      aws
20       100.0      aws
21        45.0      aws
22        97.0      aws
23       100.0      aws
24         0.0      aws
25         0.0      aws
26         0.0      aws
27        10.0      aws
28        50.0      aws
29       100.0      aws
30        90.0      aws
31       100.0      aws
32       100.0      aws